# IDEs
.vscode/
.idea/

# Environment Variables
.env
.env.*
!.env.example
!.env.*.example

# Node
node_modules/
dist/
dist-ssr/
build/

# Hardhat
artifacts/
cache/
typechain-types/

# Binaries
*.exe

# Python
__pycache__/
*.pyc

# Mac
.DS_Store
